

/* Global */

html{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html, body{
  margin: 0;
  padding: 0;
}

.box{
  top: 6.25rem;
  color: rgb(255,255,255);
  padding-left: 3rem;
  padding-bottom: 4rem;
  max-width: 40%;
  max-height: 95%;
}

.flex{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.box h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 5rem 3rem 0;
}

.box p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  padding: 1.25rem 3rem 0;
}

.navigation a:link{
  color: #fff;
  text-decoration: none;
}

.navigation a:visited{
  color: white;
  text-decoration: none;
}

.navigation a:hover{
  color: #f5a623;
  text-decoration: none;
}


.navigation a:active{
  color: #8954ff;
  text-decoration: none;
}

.box a{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 1.25rem 3rem;
  color: rgb(255,255,255);
  text-decoration: none;
  padding-bottom: 5rem;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

/*************************************************************************************************************************/




/* Header Section */

.dance-logo img{
  padding-top: 0.1rem;
  padding-left: 3.875rem;
  height: 3.125rem;
}


.navigation li a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255,255,255);
}

.dance-navtop{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
  height: 3.875rem;
}

.navigation{
  padding-right: 3.875rem;
}

.navigation li{
  display: inline;
  padding: 1rem;
}


/******************************************************************************************************************/


/* Main Dancers Seciton */

.dancers{
  background-image: url('./pyt_dance_studio_resources/dancers-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(255,255,255);
  margin-top: -20px;
}


.dancers h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  font-weight:  bold;
  line-height: 1;
  padding-top: 9.4375rem;
  padding-bottom: 2.6875rem;
  text-transform: capitalize;
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
}

.dancers p{
  padding-bottom: 5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
}

.dancers .card-button{
  padding-bottom: 3.125rem;
}


.dancers .btn{
  border-radius: 2px;
  border: none;
  background-color: rgb(245,166,35);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 1.25rem 3.125rem;
}

.dancers .btn a{
  color: rgb(255,255,255);
  text-decoration: none;
}

/**********************************************************************************************************/

/* Main Graffiti Section */


.graffiti{
  background-image: url('./pyt_dance_studio_resources/graffiti-photo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31.25rem;

}

.purple{
  background-color: rgba(120, 73, 225, 0.9);
}

.graffiti .row{
  margin-right: 15px;
}



/**********************************************************************************************************/


/* Main Fire Section */


.fire{
  background-image: url('./pyt_dance_studio_resources/fire-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31.25rem;
}

.pink{
  background-color: rgba(173, 74, 226, 0.9);
}

.fire .row{
  margin-right: 15px;
}





/*********************************************************************************************************/


/* Main Jump Section */

.jump{
  background-image: url('./pyt_dance_studio_resources/jump-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31.25rem;
}

.jump .row{
  margin-right: 15px;
}



/***********************************************************************************************************/

/* Footer/Contact Section */

.contact-us{
background-image: url('./pyt_dance_studio_resources/party-photo.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 5rem;
}

.opac-div{
  background-color: rgba(120, 73, 225, 0.3);
  padding: 0 1rem;
}

.social-media{
  text-align: center;
}

.social-media i{
  padding: 0 1rem;
  color: rgb(255,255,255);
}

.studio-info{
  height: 15rem;
}

.home-page{
  color: rgb(255,255,255);
  padding-top: 5rem;
  text-align: center;
  font-size: .876rem;
}

.copyright{
  color: rgb(255,255,255);
  text-align: center;
  font-size: .876rem;
}

.bottom-logo img{
  height: 2.5rem;
}

.bottom-logo, .social-media, .contact-terms{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  vertical-align: middle;
}

.contact-terms a{
  color: rgb(255,255,255);
  text-decoration: none;
}


/**********************************************************************************************************************/

/* Media Queries */

@media only screen and (max-width: 991px) {

  .box h2{
    font-size: 1.875rem;
    line-height: 1.4;
    padding: 1.875rem 0 0 1.875rem;
  }

  .box p{
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.625rem 3.4375rem 0 1.875rem;
  }

  .box a{
    padding: 0.625rem 0 1.875rem 1.875rem;
  }

  .box{
    top: 17rem;
    padding-bottom: 1.875rem;
    max-width: 100%;
  }

  .social-media i{
    font-size: 1rem;
  }

  .home-page{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    text-align: center;
    font-size: 0.625rem;
    letter-spacing: 0.5px
  }

  .contact-us{
  padding-bottom: 0;
  }

  .dancers h1{
    max-width: 31.25rem;
  }

  .dancers p{
    max-width: 31.25rem;
  }
}

  @media only screen and (max-width: 613px) {

      .dance-logo img{
        padding-top: 0.3rem;
        padding-left: 0.625rem;
        max-height: 2rem;
      }


      .navigation li a{
        font-size: 0.75rem;
      }

      .dance-navtop{
        max-height: 2.5rem;
      }

      .navigation li{
        padding: .5rem;
      }

      .box{
        top: 17rem;
        padding-bottom: 1.875rem;
        max-width: 100%;
      }
    }




/**************************************************************************************************/

/* Faculty Page */

.faculty-photo{
  background-image: url('./pyt_dance_studio_resources/faculty-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40.25rem;
  border-bottom: 8px solid #8954ff;
}


.faculty-photo h1{
  text-align: center;
  color: #8954ff;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 10rem;
  padding-bottom: 1.5rem;
  padding-left: auto;
  padding-right: auto;
}

.faculty-photo p{
  text-align: center;
  color: #999;
  font-size: 1rem;
  padding: 1rem auto;
}

.faculty-photo .row{
  margin-right: auto;
}

.faculty-pic{
  padding-top: 5.625rem;
  max-width: 16.875rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 auto;
}

.individual-members h3{
  text-align: center;
  color: #8954ff;
  font-weight: bold;
}

.individual-members h4{
  text-align: center;
  font-weight: bold;
}

.individual-members p{
  text-align: center;
  line-height: 1.5;
}

.individual-members{
  display: flex;
  flex-wrap: wrap;
  padding: 0 7.5rem 6.25rem 7.5rem;
  justify-content: center;
}

.large-padding{
  padding-bottom: 7rem;
}


@media only screen and (max-width: 767px) {

  .individual-members h3{
    font-size: 1.5rem;
}

  .individual-members h4{
    font-size: 1rem;
  }

  .individual-members p{
    font-size: 0.875rem;
    line-height: 1.7;
  }

  .individual-members{
    padding-bottom: 0.6875rem;
  }
}




/*****************************************************************************************************************/

/* Classes Page*/


.classes-box{
  background-image: url('./pyt_dance_studio_resources/classes-photo.png');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 31.25rem;
  border-bottom: 8px solid #8954ff;
}

.classes-content{
  text-align: center;
  padding: 8rem 6rem;
  vertical-align: middle;
}

.classes-content h1{
  color: rgba(174, 75, 227, 0.9);
  font-weight: bold;
  font-size: 3.125rem;
  padding-bottom: 2rem;
  padding-left: auto;
  padding-right: auto;
}

.classes-content p{
  padding-left: auto;
  padding-right: auto;
  font-size: 1.3rem;
}


.popping-schedule{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  padding: 5.3125rem 1.125rem 2.4rem 1.125rem;
}


.popping-schedule h3{
  font-size: 1.875rem;
  font-weight: bold;
  color: rgba(174, 75, 227, 0.9);
}

.popping-schedule h4{
  font-size: 1.125rem;
  font-weight: bold;
}


.popping-schedule h5{
  font-size: 1rem;
  line-height: 1.5;
}

.popping-schedule p{
  padding-bottom: 3.75rem;
  font-size: 0.875rem;
  line-height: 1.7rem;
}

.popping-box{
  max-width: 25rem;
}

.mon-thur{
  padding-top: 1.125rem;
}

.sat{
  padding-top: 1.125rem;
}


@media only screen and (max-width: 933px) {

  .popping-schedule{
    justify-content: space-around;
    }

  .popping-box{
    width: 18.75rem;
    padding-right: 1rem;
  }

  .popping-schedule p{
    padding-bottom: 2.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .popping-schedule h5{
    font-size: 1.125rem;
  }

  .classes-content h1{
    font-size: 1.25rem;
  }

  .classes-content p{
    font-size: 1rem;
    line-height: 1.6;
  }

  .sat{
    padding-top: 0;
  }
}

@media only screen and (max-width: 736px) {

  .popping-schedule{
    flex-direction: column;
    align-items: center;
    }


  .popping-box{
    width: 17.5rem;
    margin-bottom: 2.5rem;
  }

  .popping-schedule h4{
    font-size: 1rem;
    font-weight: bold;
  }

  .popping-schedule h5{
    font-size: 0.875rem;
    line-height: 1.7rem;
    padding-bottom: 0.625rem;
  }

  .popping-schedule p{
    font-size: 0.875rem;
    line-height: 1.7rem;
  }
}

/********************************************************************************************************************/

/* About Page */

.about-content{
  background-image: url('./pyt_dance_studio_resources/workout-photo.png');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 31.25rem;
  border-bottom: 8px solid #8954ff;
}

.place-left{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content .row{
  margin-right: 15px;
}

.about-content h1{
  padding-top: 5rem;
  text-align: center;
  color: #794ae2;
  font-weight: bold;
  font-size: 3.125rem;
  text-transform: uppercase;
  padding-bottom: 4rem;
  max-width: 50%;
}

.about-content p{
  text-align: center;
  font-size: 1.5rem;
  padding: 0 5rem;
  line-height: 1.7;
  color: #666666;
  max-width: 50%;
}

.dance-style .container-fluid{
  padding: 4% 19%;
}

.grey-bg{
  background-color: #f2f2f2;
}

.center-img{
  padding: 2rem 0;
  max-height: 9.75rem;
}


.dance-style h3{
  font-size: 2.25rem;
  font-weight: bold;
  color: #794ae2;
  text-align: center;
}

  .dance-style p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666666;
    text-align: center;
  }

  .dance-style img{
    padding: 0 auto;
    margin: auto;
    max-height: 9.75rem;
  }

  .dance-style .row{
    text-align: center;
  }

  .map{
    background-image: url('./pyt_dance_studio_resources/map.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 31.25rem;
  }

.map p{
  line-height: 0.1;
}

@media only screen and (max-width: 989px) {

.dance-style img{
  padding: auto;
  margin: auto;
  float: none;
  display: block;
}

.dance-style{
  text-align: center;
}

.center-img{
  padding: 0;
}

.about-content h1{
  max-width: 10 0%;
}

.about-content p{
  max-width: 100%;
}

.about-content h1{
  font-size: 1.125rem;
}

.about-content p{
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
}
.place-left{
  top: 5rem;
}

.dance-style h3{
  font-size: 1.75rem;
}

  .dance-style p{
    font-size: 1rem;
    line-height: 1.6;
  }

  .dance-style img{
    padding-top: 1.875rem;
    max-height: 6.25rem;
  }

}

@media only screen and (max-width: 767px) {

.dance-style img{
  padding: auto;
  margin: auto;
  float: none;
  display: block;
}

  .dance-style{
    text-align: center;
  }

  .center-img{
    padding: 0;
  }


}


@media only screen and (max-width: 613px) {

  .map .box{
    top: 17rem;
    padding: 0.5rem;
    max-width: 100%;
  }
}
