

/* Global */

html{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.box{
  min-width: 25rem;
  max-height: 20rem;
  top: 6.25rem;
  padding-bottom: 5rem;
  color: rgb(255,255,255);
  position: absolute;
}

.box h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 5rem 3rem 0;
}

.box p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  padding: 1.25rem 3rem 0;
}

.box a{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 1.25rem 3rem;
  color: rgb(255,255,255);
  text-decoration: none;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

/*************************************************************************************************************************/




/* Header Section */

.dance-logo img{
  padding-top: 0.1rem;
  padding-left: 3.875rem;
  height: 3.125rem;
}


.navigation li a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255,255,255);
}

.dance-navtop{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
  height: 3.875rem;
}

.navigation li{
  display: inline;
  padding: 1rem;
}


/******************************************************************************************************************/


/* Main Dancers Seciton */

.dancers{
  background-image: url('./pyt_dance_studio_resources/dancers-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(255,255,255);
}


.dancers h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  font-weight:  bold;
  line-height: 1;
  padding-top: 9.4375rem;
  padding-bottom: 2.6875rem;
  text-transform: capitalize;
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
}

.dancers p{
  padding-bottom: 5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
}

.dancers .card-button{
  padding-bottom: 3.125rem;
}


.dancers .btn{
  border-radius: 2px;
  border: none;
  background-color: rgb(245,166,35);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 1.25rem 3.125rem;
}

.dancers .btn a{
  color: rgb(255,255,255);
  text-decoration: none;
}

/**********************************************************************************************************/

/* Main Graffiti Section */


.graffiti{
  background-image: url('./pyt_dance_studio_resources/graffiti-photo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31.25rem;
}


.purple{
  background-color: rgba(120, 73, 225, 0.9);
  max-height: 25rem;
}

.col-md-4, .col-md-offset-8{
  padding: 0;
}


/**********************************************************************************************************/


/* Main Fire Section */


.fire{
  background-image: url('./pyt_dance_studio_resources/fire-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31.25rem;
}

.pink{
  background-color: rgba(173, 74, 226, 0.9);
  max-height: 25rem;
}






/*********************************************************************************************************/


/* Main Jump Section */

.jump{
  background-image: url('./pyt_dance_studio_resources/jump-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31.25rem;
}



/***********************************************************************************************************/

/* Footer/Contact Section */

.contact-us{
background-image: url('./pyt_dance_studio_resources/party-photo.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 5rem;
}

.opac-div{
  background-color: rgba(120, 73, 225, 0.3);
  padding: 0 1rem;
}

.social-media{
  text-align: center;
}

.social-media i{
  padding: 0 1rem;
  color: rgb(255,255,255);
}

.studio-info{
  height: 15rem;
}

.home-page{
  color: rgb(255,255,255);
  padding-top: 5rem;
  text-align: center;
  font-size: .876rem;
}

.copyright{
  color: rgb(255,255,255);
  text-align: center;
  font-size: .876rem;
}

.bottom-logo img{
  height: 2.5rem;
}

.bottom-logo, .social-media, .contact-terms{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  vertical-align: middle;
}

.contact-terms a{
  color: rgb(255,255,255);
  text-decoration: none;
}


/**********************************************************************************************************************/

/* Media Queries */

@media only screen and (max-width: 991px) {

  .box h2{
    font-size: 1.875rem;
    line-height: 1.4;
    padding: 1.875rem 0 0 1.875rem;
  }

  .box p{
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.625rem 3.4375rem 0 1.875rem;
  }

  .box a{
    padding: 0.625rem 0 1.875rem 1.875rem;
  }

  .box{
    top: 17.5rem;
    padding-bottom: 1.875rem;
  }

  .social-media i{
    font-size: 1rem;
  }

  .home-page{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    text-align: center;
    font-size: 0.625rem;
    letter-spacing: 0.5px
  }

  .contact-us{
  padding-bottom: 0;
  }

  .dancers h1{
    max-width: 31.25rem;
  }

  .dancers p{
    max-width: 31.25rem;
  }


    @media only screen and (max-width: 613px) {

      .dance-logo img{
        padding-top: 0.3rem;
        padding-left: 0.625rem;
        max-height: 2rem;
      }


      .navigation li a{
        font-size: 0.75rem;
      }

      .dance-navtop{
        max-height: 2.5rem;
      }

      .navigation li{
        padding: .5rem;
      }
    }
